@tailwind base;
@tailwind components;
@tailwind utilities;


/* index.css or App.css */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  background: #000;
  min-height: 100%;
}

 
